<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <style>
    footer {
      font-family: 'Times New Roman', serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 40px;
      margin-left: 20px;
      margin-right: 20px;
      background-color: #fefefe;
      margin-top: auto; /* Push footer to the bottom if content is less */
    }
    .left, .right {
      flex: 1;
    }
    .right {
      text-align: right; /* Ensures the email is aligned to the right */
    }
  </style>
</head>
<footer class="footer">
  <div class="left">
    &copy; 2025 Xinran Zhang.
  </div>
  <div class="right">ranxinzh@gmail.com</div>
</footer>
</html>
